PORT=5000

# Aiven MySQL
DB_HOST=your-aiven-host
DB_PORT=your-aiven-port
DB_NAME=your-db-name
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=false

# JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

# CORS
CORS_ORIGIN=http://localhost:5173,https://your-frontend.vercel.app
COOKIE_DOMAIN=

# Hugging Face Chatbot
HF_TOKEN=your_huggingface_access_token
HF_MODEL=Qwen/Qwen3.5-0.8B
